h1 {
  color: red;
}
img {
  box-shadow: 5px 5px 8px black;
  border-radius: 0.2rem;
}
img:hover {
  transform: scale(1.05) translateY(-2%);
  box-shadow: 8px 8px 8px black;
}
.red {
  color: red;
}
body {
  background-image: url("https://images.unsplash.com/photo-1542281286-9e0a16bb7366");
  background-size: cover;
}
.css-1kyxreq {
  justify-content: space-between;
}
.css-1v0mbdj,
img {
  transition: transform 0.2s;
}

.css-1v0mbdj:hover .css-ltfnpr {
  color: red !important;
}
.css-ltfnpr {
  font-size: 1rem;
}
